<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Admission Form</h1>
</div>
<div class="wrapper-md" ng-controller="admissionCtrl">
  <div class="row">
	<form role="form">
  	<div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">General Info</div>
        	<div class="panel-body">
        
          
	            <div class="col-sm-6">
		            <div class="form-group">
		              <label>*Section</label>
		              <select class="form-control" ng-model="f.b" required >
		                      <option value="pre-primary">Pre-primary</option>
		                      <option value="primary">Primary</option>
		                  </select>
		            </div>
	        	</div>
	        	<div class="col-sm-6">
		            <div class="form-group">
		              <label>*Academic Year</label>
		              <select class="form-control" ng-model="f.b" required >
		                      <option value="">2015 - 2016</option>
		                      
		                  </select>
		            </div>
	            </div>
	        	
	        	<br>

				<div class="col-sm-6">
		            <div class="form-group">
		              <label>*Course Code</label>
		              <select class="form-control" ng-model="f.b" required >
		                      <option value="pre-primary">Nursery</option>
		                      <option value="primary">Primary</option>
		                  </select>
		            </div>
	        	</div>
	        	<div class="col-sm-6">
		            <div class="form-group">
		              <label>*Fees Type</label>
		              <select class="form-control" ng-model="f.b" required >
		                      <option value="">Full Fees</option>
		                      
		                  </select>
		            </div>
	            </div>
	          
	          	<br>

	          	<div class="col-sm-6">
		            <div class="form-group">
		              <label>*Cast Category</label>
		              <select class="form-control" ng-model="f.b" required >
		                      <option value="pre-primary">General</option>
		                      <option value="primary">Primary</option>
		                  </select>
		            </div>
	        	</div>
	        	<div class="col-sm-6">
		            <div class="form-group">
		              <label>*Course Fees</label>
		              <input type="number" class="form-control" placeholder="Course Fees" ng-model="g.d" required >
		            </div>
	            </div>
	        </div>

	      </div>

			

    </div><!-- col-sm-6 -->
    <div class="col-sm-6">
    	<div class="panel panel-default">
	    	<div class="panel-heading font-bold">Payment Headwise Receipt Details</div>
	        <div class="panel-body">
    		   <div class="table-responsive">
			      <table style="height:100px;" ui-jq="dataTable" ui-options="{
			          sAjaxSource: 'api/datatable.json',
			          aoColumns: [
			            { mData: 'engine' },
			            { mData: 'browser' },
			            { mData: 'platform' },
			            { mData: 'version' },
			            { mData: 'grade' }
			          ]
			        }" class="table table-striped b-t b-b">
			        <thead>
			          <tr>
			            <th  style="width:40%">Particulars</th>
			            <th  style="width:30%">Amount</th>
			            <th  style="width:30%">Paid Amt.</th>
			            
			          </tr>
			        </thead>
			        <tbody>
			        </tbody>
			      </table>
			      <div class="form-group">
			      	<div class="col-sm-4">
			      		<label>Applied Fees</label>
			      	</div>
			      	<div class="col-sm-4">
			      		<input type="number" class="form-control" placeholder="applied amt" ng-model=""  name="appliedAmt" style="text-
			      	align:right;">
			      	</div>
			      	<div class="col-sm-4">
			      		<input type="number" class="form-control" placeholder="paid amt" ng-model="" name="paidAmt">
			      	</div>
			      </div> 

			    </div>
			  
        	</div>
    	</div><!-- col-sm-6 -->
    </div>

    <br />
    <div class="col-sm-12">
		<div class="panel panel-default">
	        <div class="panel-heading font-bold">Student Details</div>
	        	<div class="panel-body">	
	        		<div class="form-group">
	        			<div class="row">
		        			<div class="col-sm-3">
			        			<lable>PRN</lable>
			        			<input type="number" class="form-control" placeholder="PRN" ng-model="" name="prn">
		        			</div><!-- prn -->
		        			<div class="col-sm-3">
			        			<lable>*Division</lable>
			        			<select class="form-control" ng-model="f.b" required >
			                      <option value="pre-primary">General</option>
			                      <option value="primary">Primary</option>
			                  	</select>
		        			</div><!-- division -->
		        			<div class="col-sm-3">
		        				<div class="checkbox">
					                <label class="i-checks">
					                  <input type="checkbox" ng-model="agree" required><i></i> Is Direct Second Year
					                </label>
	              				</div>
		        			</div><!-- is direct second year -->
		        			<div class="col-sm-3">
			        			<lable>Admission Date</lable>
			        			<div ng-controller="DatepickerDemoCtrl">
						            <div class="input-group w-md">
						              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
						              <span class="input-group-btn">
						                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						              </span>
						            </div>
						        </div>
		        			</div><!-- admission date -->
		        		</div>	<br/>
	        			
		        		<div class="row">
		        			<div class="col-sm-3">
			        			<lable>Title</lable>
			        			<select class="form-control" ng-model="f.b" required >
			                      <option value="pre-primary">Mr.</option>
			                      <option value="primary">Miss.</option>
			                  	</select>
		        			</div><!-- title -->
		        			<div class="col-sm-3">
			        			<lable>*First Name</lable>
			        			<input type="text" class="form-control" placeholder="First name" ng-model="" required name="firstName">
		        			</div><!-- first name -->
		        			<div class="col-sm-3">
			        			<lable>Middle Name</lable>
			        			<input type="text" class="form-control" placeholder="Middle name" ng-model="" name="middleName">
		        			</div><!-- first name -->
		        			<div class="col-sm-3">
			        			<lable>*Surname</lable>
			        			<input type="text" class="form-control" placeholder="Surname" ng-model="" required name="surName">
		        			</div><!-- sur name -->
	        		
	        			</div> <br/>

	        			
	        		</div>
	        	</div>
	        </div>
		</div><!-- student details -->
		<div class="col-sm-12">
		<div class="panel panel-default">
	        <div class="panel-heading font-bold">Subject Details</div>
	        	<div class="panel-body">	
	        		<div class="form-group">
						<div class="row">
		        			<div class="col-sm-3">
			        			<lable>Comp. Lang 1</lable>
			        			<select class="form-control" ng-model="f.b" required >
			                      <option value="">Marathi</option>
			                      <option value="">Hindi</option>
			                  	</select>
		        			</div><!-- comp. lang 1 -->
		        			<div class="col-sm-3">
			        			<lable>Comp. Lang 2</lable>
			        			<select class="form-control" ng-model="f.b" required >
			                      <option value="">Marathi</option>
			                      <option value="">Hindi</option>
			                  	</select>
		        			</div><!-- comp. lang 2 -->
		        			
	        			</div> <br/>
	        			<div class="row">
		        			<div class="col-sm-12">
			        			<div class="checkbox">
					                <label class="i-checks">
					                  <input type="checkbox" ng-model="selectAll" required><i></i> Select All
					                </label>
	              				</div>
		        			</div><!-- select all -->
		        			
	        			</div> <br/>
	        			<div class="row">
		        			<div class="col-sm-12">
			        			<div class="table-responsive">
			        				<table style="height:100px;" ui-jq="dataTable" ui-options="{
							          sAjaxSource: 'api/datatable.json',
							          aoColumns: [
							            { mData: 'engine' },
							            { mData: 'browser' },
							            { mData: 'platform' },
							            { mData: 'version' },
							            { mData: 'grade' }
							          ]
							        }" class="table table-striped b-t b-b">
							        <thead>
							          <tr>
							            <th  style="width:40%">Subject</th>
							            <th  style="width:30%">Comp</th>
							            
							          </tr>
							        </thead>
							        <tbody>
							        </tbody>
							      </table>
			        			</div>
		        			</div><!-- subject grid -->
		        			
	        			</div> <br/>
	        			<div class="row">
		        			<div class="col-sm-3">
		        				<lable>Concession Amount</lable>
		        				<input type="number" class="form-control" placeholder="Concession Amt" required name="concessionAmt" />
		        			</div>
		        			<div class="col-sm-3">
		        				<lable>Concession Pct</lable>
		        				<input type="number" class="form-control" placeholder="Concession Pct" required name="concessionPct" />
		        			</div>
		        			<div class="col-sm-6">
		        				<lable>Concession Reason</lable>
		        				<input type="text" class="form-control" placeholder="Concession Reason" required name="concessionReason" />
		        			</div>
		        			
	        			</div> <br/>
					</div>

				</div>
			</div>
		</div><!-- Subject Details -->

		<div class="col-sm-12">
			<div class="panel panel-default">
		        <div class="panel-heading font-bold">Receipt Details</div>
		        	<div class="panel-body">	
		        		<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
			        				<lable>*Receipt No.</lable>
			        				<input type="text" class="form-control" placeholder="Receipt No" required name="receiptNo" />
			        			</div>
			        			<div class="col-sm-4">
			        				<lable>Payment Mode</lable>
			        				<select class="form-control" ng-model="f.b" required >
				                      <option value="">Cash</option>
				                      <option value="">Cheque</option>
				                      <option value="">DD</option>
				                  	</select>
			        			</div>
			        			<div class="col-sm-4">
			        				<lable>*Receipt Code</lable>
			        				<input type="text" class="form-control" placeholder="Auto Generated" required name="receiptCode" />
			        			</div>
			        				
							</div><!-- row --><br />
							<div class="row">
								<div class="col-sm-4">
			        				<lable>Cur Balance</lable>
			        				<input type="number" class="form-control" placeholder="Cur Balance" required name="curBalance" />
			        			</div>
			        			<div class="col-sm-4">
			        				<lable>*Received Amount</lable>
			        				<input type="number" class="form-control" placeholder="Received Amt" required name="rcvdAmt" />
			        			</div>
			        			<div class="col-sm-4">
			        				<lable>Remarks</lable>
			        				<input type="text" class="form-control" placeholder="Remarks" required name="remarks" />
			        			</div>
			        				
							</div><!-- row -->
							
						</div>
					</div>
				</div>
			</div> <!-- Receipt Details -->

			<div class="col-sm-12">
			<div class="panel panel-default">
		        <div class="panel-heading font-bold">Bank Details</div>
		        	<div class="panel-body">	
		        		<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
			        				<lable>Bank</lable>
			        				<input type="text" class="form-control" placeholder="Bank" required name="bank" />
			        			</div><!-- bank -->
			        			<div class="col-sm-4">
			        				<lable>*Chq/DD Date</lable>
			        				<div ng-controller="DatepickerDemoCtrl">
							            <div class="input-group w-md">
							              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							              <span class="input-group-btn">
							                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							              </span>
							            </div>
							        </div>
			        			</div><!-- chq/dd date -->
			        			<div class="col-sm-4">
			        				<lable>Bank Branch</lable>
			        				<input type="text" class="form-control" placeholder="Bank Branch" required name="bankBranch" />
			        			</div><!-- bank branch -->
			        				
							</div><!-- row --><br />
							<div class="row">
								<div class="col-sm-4">
			        				<lable>*Chq/DD No.</lable>
			        				<input type="text" class="form-control" placeholder="Chq/DD No" required name="chqDDNo" />
			        			</div><!-- chq/dd no -->
			        			<div class="col-sm-4">
			        				<lable>A/c</lable>
			        				<input type="text" class="form-control" placeholder="Account No" required name="accountNo" />
			        			</div><!-- account no -->
			        				
							</div><!-- row --><br /><br />
							<div class="row">
								<div class="col-sm-4">
			        				
			        			</div>
			        			<div class="col-sm-4">
			        				<div class="form-group">
						              <div class="col-lg-offset-2 col-lg-10">
						                <button type="submit" class="btn btn-sm btn-info">Save</button>
						                <button type="reset" class="btn btn-sm btn-info">Cancel</button>
						              </div>
						              
						            </div>
			        			</div>
			        			<div class="col-sm-4">
			        				
			        			</div>
			        				
							</div><!-- row -->
						</div>
					</div>
				</div>
			</div> <!-- Bank Details -->

		</div>


    </form>
  </div><!-- row -->
</div><!-- Admission Ctrl -->