<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Receipt Form</h1>
</div>
<div class="wrapper-md" ng-controller="receiptCtrl">
	<div class="row">
		<form role="form">
			<div class="panel panel-default">
		        <div class="panel-heading font-bold">Search</div>
	        	<div class="panel-body">
	        		<div class="row">
        				<div class="col-sm-8">
        					<div class="row">
	        					<div class="col-sm-4">
	        						<br/>
			        				<div class="checkbox">
						                <label class="i-checks">
						                  <input type="checkbox" ng-model="applyDate" required><i></i> Apply Date Filter
						                </label>
		              				</div>
			        			</div>
			        			<div class="col-sm-4">
			        				<lable>From Dt</lable>
			        				<div ng-controller="DatepickerDemoCtrl">
							            <div class="input-group w-md">
							              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="fromDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							              <span class="input-group-btn">
							                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							              </span>
							            </div>
							        </div>
			        			</div>
			        			<div class="col-sm-4">
			        				<lable>To Dt</lable>
			        				<div ng-controller="DatepickerDemoCtrl">
							            <div class="input-group w-md">
							              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="toDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							              <span class="input-group-btn">
							                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							              </span>
							            </div>
							        </div>
			        			</div>
		        			</div><!-- row -->
		        			<div class="row">
		        				<div class="col-sm-4">
			        				<lable>Search Fields</lable>
			        				<select class="form-control" ng-model="f.b" required >
				                      <option value="">Student Name</option>
				                      
				                  	</select>
			        			</div>
			        			<div class="col-sm-4">
		        					<lable>Operator</lable>
		        					<select class="form-control" ng-model="f.b" required >
				                      <option value="">Like</option>
				                      
				                  	</select>
			        			</div>
			        			<div class="col-sm-4">
			        				<lable>Criteria</lable>
			        				<input type="text" class="form-control" placeholder="Criteria" ng-model="criteria" name="criteria">
			        			</div>
		        			</div><!-- row -->
        				</div>

        				<div class="col-sm-4">
    						<div class="table-responsive">
		        				<table style="height:100px;" ui-jq="dataTable" ui-options="{
						          sAjaxSource: 'api/datatable.json',
						          aoColumns: [
						            { mData: 'engine' },
						            { mData: 'browser' },
						            { mData: 'platform' },
						            { mData: 'version' },
						            { mData: 'grade' }
						          ]
						        }" class="table table-striped b-t b-b">
						        <thead>
						          <tr>
						            <th  style="width:40%">Particular</th>
						            <th  style="width:30%">Amount</th>
						            
						          </tr>
						        </thead>
						        <tbody>
						        </tbody>
						      </table>
		        			</div>
        				</div>
	        		</div>
	        	</div>
		    </div><!-- Search -->
		    <div class="panel panel-default">
		        <div class="panel-heading font-bold">Student Type</div>
	        	<div class="panel-body">
	        		<div class="form-group">
	        			<div class="col-sm-4">
	        				<lable>PRN</lable>
	        				<input type="text" class="form-control" placeholder="PRN" ng-model="prn" name="findPRN">


	        			</div>
	        			<div class="col-sm-4">
	        				<br/>
	        				<button type="button" class="btn btn-sm btn-info" ng-click="getData()">Find</button>	
	        			</div>
	        		</div>
	        	</div>
		    </div><!-- Student Type -->
		    <div class="panel panel-default">
		        <div class="panel-heading font-bold">Student List</div>
	        	<div class="panel-body">
	        		<!--<div ng-grid="gridOptions" style="min-height:420px"></div>-->
	        		<!--<div class="panel-heading">
				      DataTables
				    </div>
				    <div class="table-responsive">
				      <table ui-jq="dataTable" ui-options="{
				          aaData: receiptList,
				          aoColumns: [
				            { mData: 'engine' },
				            { mData: 'browser' },
				            { mData: 'platform' },
				            { mData: 'version' },
				            { mData: 'grade' }
				          ]
				        }" class="table table-striped b-t b-b">
				        <thead>
				          <tr>
				            <th  style="width:20%">Rendering engine</th>
				            <th  style="width:25%">Browser</th>
				            <th  style="width:25%">Platform(s)</th>
				            <th  style="width:15%">Engine version</th>
				            <th  style="width:15%">CSS grade</th>
				          </tr>
				        </thead>
				        <tbody>
				        </tbody>
				      </table>
				    </div>-->
					<div>
						<label>Receipt List containts {{receiptList.length}} elements</label><br/>
				      <table id="receiptTable" class="table m-b-none" ui-jq="footable" ngRepeatFinished data-page-size="5" >
				        <thead>
				          <tr>
				              <th data-toggle="true">
				                  Receipt Id
				              </th>
				              <th>
				                  Receipt Code
				              </th>
				              <th data-hide="phone,tablet">
				                  Receipt No.
				              </th>
				              <th data-hide="phone,tablet" data-name="Date Of Birth">
				                  DOB
				              </th>
				              <th data-hide="phone">
				                  Status
				              </th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr data-ng-repeat="receipt in receiptList" ngRepeatFinished >
				              <td>{{receipt.pk_reciept_id}}</td>
				              <td><a href>{{receipt.receip_code}}</a></td>
				              <td>{{receipt.rcpt_no}}</td>
				              <td data-value="78025368997">22 Jun 1972</td>
				              <td data-value="1"><span class="label bg-success" title="Active">Active</span></td>
				          </tr>
						</tbody>
						<tfoot class="hide-if-no-paging">
				          <tr>
				              <td colspan="5" class="text-center">
				                  <ul class="pagination"></ul>
				              </td>
				          </tr>
				        </tfoot>
					  </table>
	        	</div>
		    </div><!-- Student List -->

		    <div class="panel panel-default">
		        <div class="panel-heading font-bold">Student Details</div>
	        	<div class="panel-body">
	        		<div class="form-group">
	        			<div class="row">
        					<div class="col-sm-6">
        						<div class="col-sm-6">
        							<label>PRN</label>
        							<input type="text" class="form-control" placeholder="PRN" ng-model="prn" required name="prn">
        						</div>
        						<div class="col-sm-6">
        							<label>Date</label>
	        						<div ng-controller="DatepickerDemoCtrl">
							            <div class="input-group w-md">
							              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							              <span class="input-group-btn">
							                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							              </span>
							            </div>
							        </div>
        						</div>
        						<br /><br/>

        						<div class="col-sm-6">
        							<lable>*Student Name</lable>
        							<input type="text" class="form-control" placeholder="Student Name" ng-model="studentName" required name="studentName" >
        						</div>
        						<div class="col-sm-6">
        							<lable>Academic Year</lable>
        							<select class="form-control" ng-model="f.b" required >
				                      <option value="">2015-2016</option>
				                      <option value="">2016-2017</option>
				                      <option value="">2017-2018</option>
				                  	</select>
        						</div>

        						<br />
        						<div class="col-sm-6">
    								<label>Total Balance Amount</label>
    								<input type="number" class="form-control" placeholder="0.00" ng-model="totalBalanceAmount" name="totalBalancecAmount">
        						</div>
        						<div class="col-sm-6">
        						<label>Current Balance Amount</label>
    								<input type="number" class="form-control" placeholder="0.00" ng-model="currentBalanceAmount" name="currentBalancecAmount">
        						</div>
        					</div>



        					<div class="col-sm-6">
        						<div class="col-sm-6">
    								<div class="table-responsive">
				        				<table style="height:100px;" ui-jq="dataTable" ui-options="{
								          sAjaxSource: 'api/datatable.json',
								          aoColumns: [
								            { mData: 'engine' },
								            { mData: 'browser' },
								            { mData: 'platform' },
								            { mData: 'version' },
								            { mData: 'grade' }
								          ]
								        }" class="table table-striped b-t b-b">
								        <thead>
								          <tr>
								            <th  style="width:40%">Particular</th>
								            <th  style="width:30%">Bal. Amt.</th>
								            <th  style="width:30%">Paid Amt.</th>
								          </tr>
								        </thead>
								        <tbody>
								        </tbody>
								      </table>
				        			</div>
        						</div>

        						<div class="col-sm-6">
        							<div class="table-responsive">
				        				<table style="height:100px;" ui-jq="dataTable" ui-options="{
								          sAjaxSource: 'api/datatable.json',
								          aoColumns: [
								            { mData: 'engine' },
								            { mData: 'browser' },
								            { mData: 'platform' },
								            { mData: 'version' },
								            { mData: 'grade' }
								          ]
								        }" class="table table-striped b-t b-b">
								        <thead>
								          <tr>
								            <th  style="width:40%">Code</th>
								            <th  style="width:30%">Date</th>
								            <th  style="width:30%">Amt</th>
								          </tr>
								        </thead>
								        <tbody>
								        </tbody>
								      </table>
				        			</div>
        						</div>
        					</div>

	        			</div><!--row -->
	        		</div>
	        	</div>
		    </div><!-- Student Details -->

		    <div class="panel panel-default">
		        <div class="panel-heading font-bold">Receipt Details</div>
	        	<div class="panel-body">
	        		<div class="form-group">

	        			<div class="row">
	        				<div class="col-sm-6">
		        				<label>Receipt Type</label>
		        				
						        
					              <label class="i-checks">
					                <input type="radio" name="receiptType" value="regular" checked>
					                <i></i>
					                Regular Fees
					              </label>
					            
		        				
					              <label class="i-checks">
					                <input type="radio" name="receiptType" value="bus">
					                <i></i>
					                Bus Fees
					              </label>
					            
					              <label class="i-checks">
					                <input type="radio" name="receiptType" value="other">
					                <i></i>
					                Other Fees
					              </label>
					            
				            </div>
	        			</div><br />
						<div class="row">
							<div class="col-sm-4">
		        				<lable>*Receipt No.</lable>
		        				<input type="text" class="form-control" placeholder="Receipt No" required name="receiptNo" />
		        			</div>
		        			<div class="col-sm-4">
		        				<lable>Payment Mode</lable>
		        				<select class="form-control" ng-model="f.b" required >
			                      <option value="">Cash</option>
			                      <option value="">Cheque</option>
			                      <option value="">DD</option>
			                  	</select>
		        			</div>
		        				
						</div><!-- row --><br />
						<div class="row">
							<div class="col-sm-4">
		        				<lable>*Receipt Code</lable>
		        				<input type="text" class="form-control" placeholder="Auto Generated" required name="receiptCode" />
		        			</div>
		        			<div class="col-sm-4">
		        				<lable>*Received Amount</lable>
		        				<input type="number" class="form-control" placeholder="Received Amt" required name="rcvdAmt" />
		        			</div>
		        				
						</div><!-- row -->
						
					</div>
	        	</div>
		    </div><!-- Receipt Details -->

		    <div class="panel panel-default">
		        <div class="panel-heading font-bold">Bank Details</div>
	        	<div class="panel-body">
	        		<div class="row">
        				<div class="col-sm-4">
	        				<lable>Bank</lable>
	        				<input type="text" class="form-control" placeholder="Bank" required name="bank" />
	        			</div><!-- bank -->
	        			<div class="col-sm-4">
	        				<lable>*Chq/DD Date</lable>
	        				<div ng-controller="DatepickerDemoCtrl">
					            <div class="input-group w-md">
					              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
					              <span class="input-group-btn">
					                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </div>
					        </div>
	        			</div><!-- chq/dd date -->
	        			<div class="col-sm-4">
	        				<lable>Bank Branch</lable>
	        				<input type="text" class="form-control" placeholder="Bank Branch" required name="bankBranch" />
	        			</div><!-- bank branch -->
	        				
					</div><!-- row --><br />
					<div class="row">
						<div class="col-sm-4">
	        				<lable>*Chq/DD No.</lable>
	        				<input type="text" class="form-control" placeholder="Chq/DD No" required name="chqDDNo" />
	        			</div><!-- chq/dd no -->
	        			<div class="col-sm-4">
	        				<lable>A/c</lable>
	        				<input type="text" class="form-control" placeholder="Account No" required name="accountNo" />
	        			</div><!-- account no -->
	        				
					</div><!-- row --><br /><br />
					<div class="row">
						<div class="col-sm-4">
	        				
	        			</div>
	        			<div class="col-sm-4">
	        				<div class="form-group">
				              <div class="col-lg-offset-2 col-lg-10">
				                <button type="submit" class="btn btn-sm btn-info">Save</button>
				                <button type="reset" class="btn btn-sm btn-info">Cancel</button>
				              </div>
				              
				            </div>
	        			</div>
	        			<div class="col-sm-4">
	        				
	        			</div>
	        		</div>
	        		</div><!-- row -->
	        	</div>
		    </div><!-- Bank Details -->

		</form><!-- form -->
	</div><!-- outer row -->
</div><!-- receipt controller -->